<h1>Messages#show</h1>
<p>Find me in app/views/messages/show.html.erb</p>


	
	<% @messages.each do |message| %>
		<%= message.from %>: <%= message.date %>, <%= message.message %> 
	<% end %>







	
	


