<h3>Dog</h3>
<p>Name: <%= @dog.name if @dog.name %></p>
<p>Breed: <%= @dog.breed if @dog.breed %></p>
<p>Age: <%= @dog.age if @dog.age %></p>
<p>Description: <%= @dog.description if @dog.description %></p>
