// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dog-box {
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
  padding: 10px;
}

.dog-bio {
	height: 250px;
  padding-left: 250px;
}